<% content_for :sidebar do %>

	<div class="sidebar">
		<div class="prayer_band">
		  <h2>Request Prayer</h2>
		</div>

		<!-- prayer request form -->
		<div class="col1">
		 	<div class="side_table">
		   	<%= render 'prayers/form' %>
		 	</div>
		</div>

		<!-- all other partials -->
		<% Partial.all.each do |partial| %>
			<% if @page.partial_ids.include?(partial.id) %>
				<% prayer = Partial.find_by_name("Prayer").id %>
				<% unless partial.id == prayer %>
					<div class="col1">
			 			<div class="side_table">
							<%= render "#{partial.name.downcase}s/#{partial.name.downcase}_partial" %>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>

<% end %>