 
// announcement_partial
.announcement_partial_container {
	background: url("white-opac.png") repeat;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 4px inset;
	width: 87%;
	margin-left: 20px;
	li{
		padding: 20px 5%;
	}
}

.announcement_in_partial {
  border-bottom: 2px dashed rgb(250, 233, 180);

  .announcement_title {

  }

  .announcement_body {

  }

}

.announcement_content {
	background: url("white-opac.png") repeat;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 4px inset;
	width: 635px;
	margin-left: 20px;
	padding: 20px;
	margin-bottom: 20px;
}