
  ul.model_table {

    li {
      
      border-radius: 5px 5px 5px 5px;
      height: auto;
      margin-top: 10px;
      padding: 15px 1% 5px;
      width: 98%;
      ul li {
        background: none;
        padding-top: 0px;
        margin: 0;
      }
    }


  }

  ul.instance_detail {
    margin:0px;
    padding:0px;

    li {
    float: left;
    margin-left: 0;
    width: auto;
    list-style: none;
    }

    form {
      float: left;
      width: 60px;
    }

    select {
      float: left;
      font-size: 13px;
      padding: 4px;
      width: auto;
      margin-top: 0px;
    }

  }
