.add_your_church span { 
 	color: #fff;
text-decoration: none;
cursor: pointer;
width: 75px;
height: 20px;
background: rgb(65, 101, 129);
border-radius: 5px;
padding: 2px 5px;
 	&:hover {
 		text-decoration: underline;
 		
 	}
 }

 #new_church_name {
 	
 }

 .hidden { display: none; }

 .user_info_container {
 	height:auto;
 	width:300px;
 	clear:both;
 	
 }
