.add_your_church span { 
 	color: #fff;
text-decoration: none;
cursor: pointer;
width: 75px;
height: 20px;
background: rgb(65, 101, 129);
border-radius: 5px;
padding: 2px 5px;
 	&:hover {
 		text-decoration: underline;
 		
 	}
 }

 
.field {
	margin-bottom: 20px;
}
 

 .user_info_container {
 	height:auto;
 	width:240px;
 	clear:both;
 	
 }

 input#prayer_pray_for_first_name {
 	border-radius: 8px 8px 8px 8px;
    color: black;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 5px;
    width: 84%;
 }

   input#prayer_user_email {
    border-radius: 8px 8px 8px 8px;
    color: black;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 5px;
    width: 84%;
   }
input#prayer_user_first_name, input#prayer_user_last_name {
    width:225px;
}

 select#prayer_category {
 	font-size: 15px;
    margin-right: 4px;
    width: 91%;
    padding:3px;
    margin-bottom: 10px;
 }

 select#prayer_affiliation {
 	font-size: 15px;
    margin-right: 4px;
    width: 103%;
    padding:3px;
    margin-bottom: 10px;
 }

  select#prayer_duration {
 	font-size: 15px;
    margin-right: 4px;
    width: 91%;
    padding:3px;
    margin-bottom: 10px;
 }

 .submit input{
	width: 100%;
 }

 .add_your_church {
 	text-align: right;
 }
