// user new/form 
.answer_container {
  width:250px;
  height:auto;
  clear:both;
}

.church_answer {
  width: 45px;
height: 25px;
border-radius: 5px;
webkit-border-radius: 5px;
moz-border-radius: 5px;
background: gray;
color: #fff;
margin-left: 5px;
float: left;
text-align: center;
padding-top: 5px;
cursor:pointer;
  &:hover {
    background:#3b5998;
  }
}

.section {
  clear:both;
}