
<ul class="model_table">
	<li>
		<ul class="instance_detail">
			<%= content_tag :li, @category.name, class:"name" %><br />
			<ul class="crud_buttons">

				<%= content_tag :li, link_to("edit", edit_category_path(@category)), class:"edit" if can? :update, Category %>
				
				<%= content_tag :li, link_to("delete", category_path(@category), :confirm => "are you sure?", :method => :delete ), class:"delete" if can? :destroy, Category %>
			</ul>
		</ul>
		<br class="clear">
	</li>
	<br />

	<%= content_tag :li, link_to('View All categories', categories_path) %>
</ul>


